name: Run userspace unit tests

on:
  push:
    branches: [ "main", "dev", "test" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Run tests
      working-directory: ./kpi
      run: RUST_BACKTRACE=1 cargo test --verbose
