name: Build x86_64 rust demo

on:
  push:
    branches: [ "main", "dev" ]

jobs:
  build:

    runs-on: ubuntu-24.04

    steps:
    - name: Install packages
      run: sudo apt-get -yq install bmake libarchive-dev clang-18 lld-18

    - name: Get rust toolchain
      run: |
        curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- --default-toolchain nightly-2025-07-23 -y
        cargo install bindgen-cli

    - name: Create environment
      run: |
        echo "EXTRA_BUILD_ARGS=--cross-bindir=/usr/lib/llvm-18/bin" >> $GITHUB_ENV
        echo "NPROC=`nproc`" >> $GITHUB_ENV
        mkdir -p ../obj
        echo "MAKEOBJDIRPREFIX=${PWD%/*}/obj" >> $GITHUB_ENV

    - name: Checkout FreeBSD src virtio_snd branch
      uses: actions/checkout@v5
      with:
        repository: ayrtonm/freebsd-src
        ref: virtio_snd

    - name: Checkout KPI repo
      uses: actions/checkout@v5
      with:
        path: sys/rust

    - name: Checkout rustc repo
      uses: actions/checkout@v5
      with:
        repository: rust-lang/rust
        ref: a7a1618e6c835f1f00940ad72203d05808209a0d
        path: sys/rust/compiler

    - name: Checkout rust library/stdarch
      working-directory: sys/rust/compiler
      run: git submodule update --depth 1 --init library/stdarch

    - name: Bootstrap bmake
      run: ./tools/build/make.py -j$NPROC $EXTRA_BUILD_ARGS TARGET=amd64 TARGET_ARCH=amd64 -n

    - name: Build x64 kernel toolchain
      run: ./tools/build/make.py -j$NPROC $EXTRA_BUILD_ARGS kernel-toolchain \
          KERNCONF=GENERIC TARGET=amd64 TARGET_ARCH=amd64

    - name: Build virtio_snd driver for x86-64
      run: |
        RUSTC=`which rustc` \
        RUSTFMT=`which rustfmt` \
        BINDGEN=`which bindgen` \
        ./tools/build/make.py --debug -j$NPROC $EXTRA_BUILD_ARGS buildkernel \
          KERNCONF=GENERIC NO_MODULES=yes TARGET=amd64 TARGET_ARCH=amd64
